* {
    margin: 0px;
    padding: 0px;
}
.container {
    width: 450px;
    height: 1000px;
    margin: 10px auto;
}
.grid-container {
    height: 1000px;
    display: grid;
    border: 1px solid rgba(0, 0, 0, 0.8);
    grid-template-columns: auto auto auto auto auto auto auto;
    background-color: #1c1c1c;
    grid-gap: 2px;
    padding: 0px 3px;
}
.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 15px;
    font-size: 5px;
    text-align: left;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(179, 179, 179);
}
.color-1 {
    background-color: #424242;
}
.color-2 {
    background-color: #343434;
}
.ITEM-3 {
    grid-column: 3 / span 3; 
    grid-row: 1 / span 4; 
}
.ITEM-5 {
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
}
.ITEM-10 {
    grid-column: 1 / span 2;
    grid-row: 4 / span 2;
}
.ITEM-13 {
    grid-column: 3 / span 2;
    grid-row: 5 / span 2;
}
.ITEM-17 {
    grid-column: 5 / span 3;
    grid-row: 6 / span 4;
}
.ITEM-21 {
    grid-column: 1 / span 2;
    grid-row: 7 / span 2;
}
.ITEM-26 {
    grid-column: 1 / span 3;
    grid-row: 9 / span 4;
}
.ITEM-40 {
    grid-column: 1 / span 3;
    grid-row: 13 / span 4;
}
.ITEM-45 {
    grid-column: 4 / span 3;
    grid-row: 14 / span 4;
}